/* 页脚黑色透明玻璃效果移除 */
/* #footer::before{
    background: transparent!important;
  } */
/* 页脚透明*/
/* #footer{
    background: transparent!important;
}
#content-inner{
  background: rgba(red, 0, 0, 0);

} */








